* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Teltonika_logo_bar {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 56px;
    background: #0054A6;
}
.responsive {
    margin: auto;
    width: 100%;
    max-width: 392px;
    height: 30px;
}